.body {
  .timeline {
    min-height: 100vh;
    padding-top: 30px;
    .list {
      margin: 25px;
    }
    h5 {
      margin-left: 39px;
      margin-right: 25px;
    }
    .list-item {
      border-top: 0.5px solid #333;
    }
    .list-item:first-of-type {
      border: none;
    }
    .active {
      p {
        font-weight: bold;
      }
    }
  }

  .map {
    height: 100vh;
    overflow: auto;
    background-color: #cccccc;
  }

  .slider {
    padding: 10px 20px;
    .top-slider {
      margin-bottom: 10px;
      .date {
        span,
        svg {
          display: inline-flex;
          vertical-align: middle;
        }
        svg {
          padding-right: 5px;
        }
        b {
          padding: 0 5px;
        }
      }
      .button-fixed {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1;
      }
    }
  }
}
