.body {
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 100px;
  width: 100%;
  background-color: cyan;
  flex-shrink: 0;
}

.timeline {
  width: 20%;
  background-color: darkolivegreen;
}

.slider {
  width: 80%;
  background-color: deeppink;
}

.slider,
.timeline {
  height: calc(100vh - 100px);
}
