.timeline {
  ul {
    padding: 0;
    text-align: center;
    li {
      list-style-type: none;
      button {
        width: 80%;
        margin-top: 20px;
        padding: 5px 0px;
      }
      .active {
        font-weight: bold;
      }
    }
  }
}

.list {
  width: 250px;
}
