*:focus {
  outline: none;
}

.body {
  .timeline {
    min-height: 100vh;
    padding-top: 30px;
    position: fixed;

    .description {
      margin: 20px 25px 0px 39px !important;
    }

    .list {
      margin: 25px;
    }

    h5 {
      margin-left: 39px;
      margin-right: 25px;
    }

    .list-item {
      border-top: 0.5px solid #333;
    }

    .list-item:first-of-type {
      border: none;
    }

    .active {
      p {
        font-weight: bold;
      }
    }
  }

  .map {
    height: 100vh;
    overflow: auto;
    background-color: #cccccc;

    .marker-text {
      transition: all 500ms;
    }

    .marker-text:hover {
      font-size: 15px !important;
    }

    .marker-circle:hover + .marker-text {
      font-size: 15px !important;
    }
  }

  .slider {
    padding: 10px 20px;

    .top-slider {
      margin: 20px 0px 10px;

      h5 {
        margin: 5px 0px;
      }

      .date {
        span,
        svg {
          display: inline-flex;
          vertical-align: middle;
        }

        svg {
          padding-right: 5px;
        }

        b {
          padding: 0 5px;
        }
      }

      .button-return {
        background-color: #f44336;
        color: white;
        margin-top: 10px;
      }
    }

    .overlay {
      background: rgba(255, 255, 255, 0.3);
      height: 100%;
      width: 100%;
    }
  }

  .title {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;
  }

  @media screen and (max-width: 370px) {
    .topbar-text {
      font-size: 0.8rem;
    }
  }
}
